*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    --light-brown: rgb(217, 203, 178);
    --green: rgb(0, 73, 55);
    --yellow: rgb(245, 191, 20);
    --red: rgb(198, 75, 66);
    --blue: rgb(43, 85, 125);

    --animation-time: 1.2s;
}

body {
    background-color: black;
    padding: 4rem 0;
    font-family: 'Neucha', cursive;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

@media all and (min-width: 768px) {
    .container {
        max-width: 70%;
    }
}

.paragpaph {
    font-size: clamp(1rem, 3vw, 2rem);
}

.heading-secondary {
    font-size: clamp(1.5rem, 3vw, 3rem);
}

@keyframes containerTransition {
    0% {
        transform: translateX(-100%);
    }

    90% {
        transform: translateX(10%);
    }
}